<template>
  <input id="toggle-all" class="toggle-all" type="checkbox" />
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">
    <li v-for="(todo, index) in todos" :key="index">
      <div class="view" v-if="todo.status === 0">
        <input class="toggle" type="checkbox" />
        <label>{{ todo.teks }}</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Rule the web" />
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      todos: [],
    };
  },
  methods: {
    loadData() {
      axios.get("api/todos").then((response) => {
        this.todos = response.data;
      });
    },
  },
  created() {
    this.loadData();
  },
};
</script>