<template>
  <input id="toggle-all" class="toggle-all" type="checkbox" />
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">
    <!-- These are here just to show the structure of the list items -->
    <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
    <li
      v-for="(todo, index) in todos"
      :key="index"
      v-bind:class="{ completed: todo.status == 1 }"
    >
      <div class="view">
        <input class="toggle" type="checkbox" v-if="todo.status == 1" checked />
        <input class="toggle" type="checkbox" v-if="todo.status == 0" />
        <label>{{ todo.teks }}</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Rule the web" />
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      todos: [],
    };
  },
  methods: {
    loadData() {
      axios.get("api/todos").then((response) => {
        this.todos = response.data;
      });
    },
  },
  created() {
    this.loadData();
  },
};
</script>