<template>
 <section class="main">
    <router-view></router-view>
  </section>
  <footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>0</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <router-link :to="{ name: 'all' }" active-class="selected" exact>All</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'active' }" active-class="selected" exact>Active</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'completed' }" active-class="selected" exact>Completed</router-link>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed">Clear completed</button>
  </footer>
</template>